form {
    max-width: 700px;
    min-height: fit-content;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    align-self: center;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-group {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-size: 1.1rem;
    font-weight: bold;
    color: wheat;  
}

.login-group-2 {
    font-size: 1.1rem;
    font-weight: 400;
    color: wheat;
    padding: 1%;
}

label {
    padding-bottom: 2.5%;
}

p {
    font-size: .8rem;
    color: whitesmoke;
    padding: 0;

}

input {
    font-size: .8rem;
}
    
button {
    padding-bottom: 3%;
    padding: 8px 12px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
    font-family: inherit;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: blue;
    background-image: linear-gradient(
        to right,
        hotpink,
        purple
    );
    color: #fff;
    cursor: pointer;
}
    
button:hover {
background-image: none;
background-color: pink;
}

button:focus,
button:active {
outline-offset: 5px;
}